/*!
 * =====================================================
 * Mobile - for YMT
 * reorganized by Luoyu
 * =====================================================
 */


/*! set root font-size */

html {
    font-size: 10px;
    font-family: sans-serif;
    color:#333;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@media only screen and (min-width:400px) {
    html {
        font-size: 21.33px!important
    }
}

@media only screen and (min-width:414px) {
    html {
        font-size: 22.08px!important
    }
}

@media only screen and (min-width:480px) {
    html {
        font-size: 25.6px!important
    }
}


/* ==========================================================================
   #CssReset
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

a img {
    border: none;
}

em,
i {
    font-style: normal;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    outline: none;
    color: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: 0;
}

input {
    vertical-align: middle;
    border: 0 none;
    /*-webkit-appearance: none;*/
}

input:focus {
    text-decoration: none;
    outline: none;
}

input[type=text],
input[type=password],
input[type=reset],
input[type=number] {
    -webkit-appearance: none !important;
    appearance: none;
}

img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
    max-width: 100%;
    height: auto;
    display: block;
}

a,
div,
header,
span,
input,
select {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
}


/* ==========================================================================
   #Grid
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.row {
    width: 100%;
    overflow: hidden;
    background: white;
}

.row:after,
.clearfix:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
}

.col-12 {
    width: 100%
}

.col-11 {
    width: 91.66666667%
}

.col-10 {
    width: 83.33333333%
}

.col-9 {
    width: 75%
}

.col-8 {
    width: 66.66666667%
}

.col-7 {
    width: 58.33333333%
}

.col-6 {
    width: 50%
}

.col-5 {
    width: 41.66666667%
}

.col-4 {
    width: 33.33333333%
}

.col-3 {
    width: 25%
}

.col-2 {
    width: 16.66666667%
}

.col-1 {
    width: 8.33333333%
}

.col-offset-1 {
    margin-left: 4.33333333%
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.btn {
    width: 100%;
    display: block;
    opacity: 1;
    padding: 0 .5rem;
    margin: 0;
    height: 1.35rem;
    white-space: nowrap;
    position: relative;
    font-size: .7rem;
    cursor: pointer;
    text-align: center;
    border: 0 none;
}

.btn:hover,
.btn:active {
    opacity: .8;
}

.btn:disabled {
    background: #dddddd;
    border: 0 none;
    color: #999;
}

.hide {
    display: none;
}

.block {
    display: block;
}

select {
    -webkit-appearance: none !important;
    appearance: none;
    border: 1px solid #ccc;
    padding: 0.5rem;
    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none;
}

textarea {
    overflow: auto
}

p {
    margin: 1em 0
}


/* ==========================================================================
   #CustomCSS
   ========================================================================== */

body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: .85rem;
}


/*  body {
      background: #cfcfcf;
      color: #434343;
      overflow-x:hidden;
    }*/
