
/* ==========================================================================
#CssReset
========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family:'Microsoft YaHei';
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
a img {
    border: none;
}
em, i {
    font-style: normal;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    outline: none;
    color: inherit;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration:underline;
    color:#537DBF;
}
a:focus {
    outline: 0;
}
input {
    vertical-align: middle;
    border: 0 none;
    -webkit-appearance: none;
}
input:focus {
    text-decoration: none;
    outline: none;
}
input[type=text], input[type=password], input[type=reset], input[type=number] {
    -webkit-appearance: none !important;
    appearance: none;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
    display: block;
}
a, div, header, span, input, select {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
}

/* ==========================================================================
#Grid
========================================================================== */

.pt15{
    padding-top:15px!important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.row:after, .clearfix:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after,.clearfix:before {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom:1
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

.c_icon{
	position:relative;
	display:inline-block;
	*display:inline;
	zoom:1;
	height:15px;
	width:15px;
	vertical-align:-3px;
    &.c_more{
        height:18px;
        width:18px;
        margin-left:3px;
        background:url(../images/a5.png) center no-repeat;
        background-size:100%;
    }
    &.c_one{
        width:30px;
        height:26px;
        margin-left:15px;
        vertical-align:-8px;
        background:url(../images/a1.png) center no-repeat;
    }
    &.c_two{
        width:31px;
        height:33px;
        margin-left:15px;
        vertical-align:-11px;
        margin-right:10px;
        background:url(../images/a2.png) center no-repeat;
    }
    &.c_three{
        width:37px;
        height:34px;
        margin-left:15px;
        vertical-align:-11px;
        margin-right:10px;
        background:url(../images/a3.png) center no-repeat;
    }
    &.c_four{
        width:33px;
        height:36px;
        margin-left:15px;
        vertical-align:-13px;
        margin-right:15px;
        background:url(../images/a4.png) center no-repeat;
    }
    &.c_up{
        background:url(../images/up.png) center no-repeat;
    }
    &.c_home{
        background:url(../images/b8.png) center no-repeat;
    }
    &.c_right{
        background:url(../images/b9.png) center no-repeat;
    }
    &.c_sj{
        background:url(../images/a8.png) center no-repeat;
    }
}
//=============style============//
.c_wp{
    width:960px;
    margin:auto;
}
#i_header{
    width:100%;
    height:80px;
}
#header{
    height:80px;
    padding:10px 0;
    .logo{
        float:left;
        a{
            display:block;
        }
    }
    .head_map{
        float:right;
        margin-top:20px;
        a{
            font-size:12px;
            color:#999;
        }
        span{
            color:#999;
            font-size:12px;
        }
    }
    .nav{
        float:left;
        margin:0 0 0 30px;
        li{
            float:left;
            margin-right:20px;
            position:relative;
            .zjhf{
                display:none;     
                width:500px;
                height:306px;
                border:2px solid #0849AB;
                position:absolute;
                top:70px;
                z-index:11;
                left:-40px;
                border-radius:10px;
                background:#fff;
                padding:10px 0px;
                .c_sj{
                    position: absolute;
                    top: -11px;
                    left: 56px;
                    height: 11px;
                    width: 21px;
                }
                .zj_left{
                    width:33.3333%;
                    height:100%;
                    float:left;
                    border-right:1px solid #d6d6d6;
                    padding:0 10px;
                    li{
                        line-height:1.8;
                        float:none;
                        width:152px;
                        height:30px; 
                        padding-left:5px;
                        &.on{
                            background:url(../images/b10.png) left top no-repeat;
                            a{
                                color:#fff;
                                text-decoration: none;
                            }
                        }
                        a{
                            display:block;
                            line-height:2;
                        }
                    }
                }
                .zj_center{
                    width:33.3333%;
                    float:left;
                    height:100%;
                    padding:0 9px;
                    border-right:1px solid #d6d6d6;
                    ul{
                        &.two{
                            margin-top:32px;
                        }
                        &.three{
                            margin-top:62px;
                        }
                        &.four{
                            margin-top:90px;
                        }
                    }
                    li{
                        line-height:1.8;
                        float:none;
                        a{
                            display:block;
                            line-height:2;
                            padding:0;
                            &:hover{
                                color:#537DBF;
                                text-decoration: underline;
                            }
                        }
                    }
                    ul{
                        display:none;
                    }
                }
                .zj_right{
                    width:33.3333%;
                    float:left;
                    a{
                        display:block;
                        text-align:center;
                        padding:0;
                        line-height:1;
                        margin-bottom:10px;
                        img{
                            margin:auto;
                        }
                    }
                }
            }
            a{
                font-size:14px;
                display:block;
                line-height:3.8;
                padding-bottom:16px;
            }
            &.c_goin:hover{
                .zjhf{
                    display:block;
                }
            }
        }
    }
}
.show{
    height:435px;
    overflow:hidden;
}
//轮播
/* 本例子css */
.slideBox{ border-radius:10px; height:435px; overflow:hidden; position:relative; }
.slideBox .hd{ height:253px; overflow:hidden; position:absolute; right:0px;top:61px; bottom:5px; z-index:1;  }
.slideBox .hd ul{ overflow:hidden; zoom:1;margin-top:1px;  }
.slideBox .hd ul li{ width:85px; height:83px; margin-bottom:1px; line-height:14px; text-align:center; background:#000;filter:alpha(opacity=30);opacity:0.3;color:#fff; cursor:pointer; overflow:hidden;
	span{
		width:30px;
		display:block;
		margin:auto;
		margin-top:28px;
		font-size:12px;
	}

 }
.slideBox .stop{
	bottom:0;
	right:0;
	height:59px;
	width:85px;
	background:#000;
    filter:alpha(opacity=80);opacity:0.8;
	line-height:60px;
	position:absolute;
	color:#fff;
	text-align:center;
}
.slideBox .hd ul li.on{ background:#336BA9;filter:alpha(opacity=100);opacity:1; color:#fff;  }
.slideBox .bd{ position:relative; height:100%; z-index:0;
    .tempWrap{
        border-radius:100px 10px 10px 10px;
    }
}
.slideBox .bd li{ zoom:1; vertical-align:middle;  }
.slideBox .bd img{ width:100%; height:435px; display:block;   }

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute;filter:alpha(opacity=70);opacity:0.7; display:block; width:85px; height:61px; }
.slideBox .prev{ background:#000 url(../images/shang.png) center no-repeat; top:0;right:0}
.slideBox .next{ background:#000 url(../images/xia.png) center no-repeat; bottom:60px;right:0;}
.slideBox .prev:hover{ background:#000 url(../images/shang.png) center no-repeat; top:0;right:0;filter:alpha(opacity=100);opacity:1;}
.slideBox .next:hover{  background:#000 url(../images/xia.png) center no-repeat;filter:alpha(opacity=100);opacity:1;}
.slideBox .prevStop{ display:none;   }
.slideBox .nextStop{ display:none;   }

#i_footer{
    height:115px;
    .foot_hd{
        border-bottom:1px solid #d6d6d6;
    }    
    .foot_bd{
        
    }
    .c_jj_left{
        position:relative;
        h3{
            font-size:14px;
            color:#2663B3;
        }
        p{
            color:#333;
        }
        a{
            position:absolute;
            bottom:10px;
            right:10px;
}
    }
}
.c_jj{
	height:160px;
    margin-top:10px;
	.c_jj_left{
		width:380px;
		margin-right:10px;
        padding:14px;
        position:relative;
        height:155px;
        border-radius:10px;
        border:1px solid #d6d6d6;
        box-shadow:0px 0px 4px #d6d6d6;
        -webkit-box-shadow:0px 0px 4px #d6d6d6;
        h3{
            color:#2862B5;
            font-size:16px;
            margin-bottom:10px;
        }
        p{
            line-height:1.3;
            font-size:14px;
        }
        .c_mores{
            position:absolute;
            font-size:14px;
            bottom:10px;
            right:25px;
        }
	}
}
.c_jj_list{
	zoom:1;
    float:left;
    margin-right:-15px;
	li{
		float:left;
		margin-right:12px;
	}
}
.c_bottom_list{
    zoom:1;
    height:56px;
    margin-top:5px;
    ul{
        margin-right:-10px;
        li{
            float:left;
            height:55px;
            font-size:14px;
            margin-right:10px;
            border-radius:10px;
            border:1px solid #D6D6D6;
            box-shadow:2px 2px 3px #d6d6d6;
            -webkit-box-shadow:2px 2px 3px #d6d6d6;
            line-height:55px;
            position:relative;
            a{
                display:block;
            }
            .c_more{
                position:absolute;
                right:20px;
                top:18px;
            }
            &.one{
                width:270px;
            }
            &.two{
                width:260px;
            }
            &.three{
                width:213px;
            }
            &.four{
                width:182px;
            }
        }
    }
}
.i_footer{
    margin-top:20px;
}
#i_footer{
    width:100%;
}
#footer{
    width:100%;
    .foot_hd{
        font-size:12px;
        border-bottom:1px solid #d6d6d6;
        color:#999;
        span{
            margin-left:8px;
        }
        img{
            display:inline-block;     
        }
    } 
    .foot_bd_left{
        overflow:hidden;
        padding:15px 0;
        dl{
            font-size:12px;
            border-right:1px solid #666;
            padding:0 15px;
            &:last-child{
                border:none;
            }
            dt{
                font-weight:bold;
                margin-bottom:5px;
            }
            dd{
                float:left;
                margin-bottom:5px;
                width:33.3333%;
            }
            &.c_left_one{
                width:385px;
            }
            &.c_left_two{
                width:195px;
                dd{
                    width:50%;
                }
            }
            &.c_left_three{
                dd{
                    width:auto;
                    margin-right:7px;
                }
            }
        }
    } 
}

//详情
.detail_left{
    width:180px;
    border:1px solid #B4B8C1;
    border-radius:10px;
    margin-right:10px;
    .detail_left_title{
        background:url(../images/b4.png) top center no-repeat;
        height:132px;
        overflow:hidden;
        color:#fff;
        padding-left:10px;
        h3{
            margin-top:50px;
            font-size:26px;
            margin-bottom:5px;
        }
        p{
            font-size:12px;
            margin:0;
        }
    }
}
.detail_left_ul{
    overflow:hidden;
    li{
        line-height:40px;
        border-top:1px dashed #C3C6CF;
        position:relative;
        top:-1px;
        a{
            display:block;
            font-size:14px;
            padding-left:10px;
            &.first:hover,&.on{
                    color:#3D67AF;
                    text-decoration: none;
                    background:url(../images/b5.png) 150px center no-repeat;
                }
        }
        ul{
            overflow:hidden;
            padding:10px 20px;
            border-top:1px dashed #C3C6CF;
            background:#F6F7FB;
            display:none;
            li{
                border-top:1px solid #D8DFE8;
                position:relative;
                top:-1px;
                line-height:30px;
                &:first-child{
                    border-top:none;
                }
                &:hover,&.on{
                    background:url(../images/a15.png) left center no-repeat;
                    a{
                        color:#3D67AF;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.detail_right{
    overflow:hidden;
    zoom:1;
    .detail_right_title{
        border:1px solid #d6d6d6;
        border-radius:10px;
        margin-bottom:15px;
        padding:20px;
        h3{
            font-size:36px;
            font-weight:bold;
            line-height:2.5;
        }
        .fr{
            font-size:12px;
            color:#999;
            span{
                color:#666;    
            }
        }
    }
    .detail_right_bd{
        border:1px solid #d6d6d6;
        border-radius:10px;
        
    }
    .tabs {
        .tab_wp{
            display:none;
        }
    }
    .tab ul{
        overflow:hidden;
        &.half{
            li{
                width:50%;
            }
        }
        &.quarter{
            li{
                width:25%;
            }
        }
        li{
            font-size:14px;
            text-align:center;
            line-height:48px;
            border-bottom:1px solid #d6d6d6;
            border-left:1px solid #d6d6d6;
            position:relative;
            left:-1px;
            float:left;
            cursor:pointer;
            &.on{
                border-bottom:none;
            }
        }
    }
}
.yth{
    text-align:center;
    img{
        margin: auto;
    }
    .tgyth{
        margin:5px 6px;
        border-top:2px solid #1C52A9;
        h4{
            font-size:32px;
            color:#1C52A9;
            margin-top:50px;
            font-weight:bold;
        }
        .info{
            font-size:16px;
            color:#1C52A9;
            margin-top:15px;
            margin-bottom:15px;
        } 
        .tg_p{
            color:#999;
            font-size:12px;
            line-height:2;
        } 
    }
}
.qyxx{
    padding:30px;
    .qy_title{
        font-size:36px;
        font-weight:bold;
        color:#1D52AC;
        margin-bottom:10px;
    }
    .qy_p{
        color:#1D52AC;
        font-size:16px;
    }
    .qy_ul{
        margin-top:113px;
        li{
            line-height:2;
            font-size:14px;
            font-weight:bold;
            color:#666;
        }
    }
    .qy_p1{
        color:#999;
        font-size:12px;
        margin-top:15px;
        line-height:1.7;
    }
    .qy_b{
        border-top:2px solid #1C52A7;
        margin-top:15px;
        .qy_b_title{
            font-size:18px;
            font-weight:bold;
            color:#000;
            line-height:3;
            border-bottom:1px solid #EFEFEF;
        }
        .qy_b_ul{
            line-height:2;
            font-size:12px;
            margin-top:10px;
            li{
                color:#333;
                span{
                    width:180px;
                }
                p{
                    color:#999;
                }
            }
        }
    }  
}

.lsyg{
    padding:30px;
    .lsyg_l{
        margin-right:50px;
        .lsyg_list{
            border-bottom:1px solid #999;
            li{
                line-height:65px;
                font-size:20px;
                font-weight:bold;
                border-top:1px solid #999;
                cursor:pointer;
                &:hover,&.on{
                    border-top:1px solid #1C52A7;
                    color:#1C52A7;
                }
            }
        }
    } 
    .lsyg_r{
        .lsyg_title{
            font-size:32px;
            font-weight:bold;
            color:#1C52A7;
        }
    }
    .lsyg_bd{
        margin-top:20px;
        .year{
            font-size:22px;
            font-weight:bold;
            margin-right:30px;
        }
        .lsyg_bd_ul{
            font-size:12px;
            li{
                line-height:1.5;
                p{
                    width:400px;
                }
            }
            span{
                margin-right:10px;
            }
        }
    }
}
.anzhuang{
    border-top:2px solid #1C52A7;
    margin:60px 40px;
}
.az_ul{
    overflow:hidden;
    li{
        padding:30px 20px;
        position:relative;
        top:-1px;
        border-top:1px solid #eee;
        .fl{
            margin-right:30px;
            width:70px;
            text-align:center;
            img{
                margin:auto;
            }
        }
        .az_bd{
            margin-left:50px;
            h4{
                font-size:18px;
                font-weight:bold;
                margin-bottom:5px;
            }
            p{
                font-size:12px;
                color:#666;
                line-height:1.8;
            }
        } 
    }
}
.qx_wp{
    font-size:12px;
    color:#999;
    line-height:1.8;
    padding:10px 40px;
    text-align:left;
    border-top:1px solid #EFEFEF;
    margin-top:10px;
}
.youshi{
    margin-top:60px;
    .youshi_ul{
        margin:0 30px;
        li{
            &:last-child{
                .middle{
                    border:none;
                }
            }
            .middle{
                border-bottom:1px solid #EFEFEF;
                line-height:87px;
                margin-left:15px;
                width:535px;
                p{
                    display:-moz-inline-stack;
                    display:inline-block;
                    line-height:1.4em;
                    vertical-align:middle;
                    font-size:12px;
                    color:#999;
                }
            }     
        }
    }
}
.az1{
    margin:10px;
    text-align:left;
}
.wh_wp{
    padding:10px 0;
}
.sz_wp{
    .sz_w{
        &.left{
            text-align:left;
            margin-top:10px;
            h3{
                text-align:left;
            }
            .info{
                text-align:left;
            }
            p{
                text-align:left;
            }
        }
        h3{
            text-align:right;
            font-size:32px;
            color:#1C52A9;
            font-weight:bold;
        }
        .info{
            color:#666;
            font-size:12px;
            line-height:1.8;
            text-right:right;
        }
        p{
            font-size:20px;
            white-space:nowrap;
            color:#1C52A9;
            margin:10px 0;
            text-align:right;
        }
    }
}
.shuizhi{
    margin:0 -20px;
}
.sh_ul{
    margin-right:-40px;
    margin-top:20px;
    li{
        float:left;
        margin-right:35px;
    }
}
.sh_wp{
    margin:30px;
    font-size:12px;
    color:#666;
    overflow:hidden;
    h3{
        font-size:16px;
        font-weight:bold;
        margin-bottom:20px;
    }
    p{
        line-height:1.7;
    }
}
.lianxi_wp{
    padding:30px;
    font-size:13px;
    .lianxi_ul{
        border-top:1px solid #1C52A9;
        li{
            border-bottom:1px solid #EFEFEF;
            padding:15px 0;
        }
    }
    .lx_left{
        width:210px;
        h4{
            color:#1C52A9;
            font-weight:bold;
        }
        p{
            color:#666;
            margin-top:5px;
        }
    } 
    .lx_center{
        font-size:13px;
        color:#333;
        h5{
            margin-bottom:10px;
            font-weight:bold;
        }
        &.shuang{
            width:245px;
        }
        p{
            color:#666;
            line-height:1.8;
            span{
                color:#333;
                display:inline-block;
                width:75px;
            }
        } 
    }
}
