@charset "UTF-8";
/* ==========================================================================
#CssReset
========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Microsoft YaHei';
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

a img {
  border: none; }

em, i {
  font-style: normal; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  outline: none;
  color: inherit; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

a:focus {
  outline: 0; }

input {
  vertical-align: middle;
  border: 0 none;
  -webkit-appearance: none; }

input:focus {
  text-decoration: none;
  outline: none; }

input[type=text], input[type=password], input[type=reset], input[type=number] {
  -webkit-appearance: none !important;
  appearance: none; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
  display: block; }

a, div, header, span, input, select {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; }

/* ==========================================================================
#Grid
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.row:after, .clearfix:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after, .clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.fl {
  float: left; }

.fr {
  float: right; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.c_icon {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 15px;
  width: 15px;
  vertical-align: middle; }

.c_wp {
  width: 960px;
  margin: auto; }

#i_header {
  width: 100%;
  height: 80px; }

#header {
  height: 80px;
  padding: 10px 0; }
  #header .logo {
    float: left; }
    #header .logo a {
      display: block; }
  #header .head_map {
    float: right;
    margin-top: 20px; }
    #header .head_map a {
      font-size: 12px;
      color: #999; }
    #header .head_map span {
      color: #999;
      font-size: 12px; }
  #header .nav {
    float: left;
    margin: 0 0 0 30px; }
    #header .nav li {
      float: left;
      margin-right: 20px;
      position: relative; }
      #header .nav li .zjhf {
        display: none;
        width: 500px;
        height: 306px;
        border: 2px solid #0849AB;
        position: absolute;
        top: 70px;
        z-index: 11;
        left: -40px;
        border-radius: 10px;
        background: #fff;
        padding: 15px 10px; }
        #header .nav li .zjhf .zj_left {
          width: 33.3333%;
          float: left; }
          #header .nav li .zjhf .zj_left li {
            line-height: 1.8;
            float: none; }
            #header .nav li .zjhf .zj_left li a {
              display: inline;
              line-height: 1; }
        #header .nav li .zjhf .zj_center {
          width: 33.3333%;
          float: left; }
          #header .nav li .zjhf .zj_center li {
            line-height: 1.8;
            float: none; }
            #header .nav li .zjhf .zj_center li a {
              display: inline;
              line-height: 1; }
              #header .nav li .zjhf .zj_center li a:hover {
                color: #537DBF;
                text-decoration: underline; }
        #header .nav li .zjhf .zj_right {
          width: 33.3333%;
          float: left; }
          #header .nav li .zjhf .zj_right li {
            line-height: 1.8;
            float: none; }
            #header .nav li .zjhf .zj_right li a {
              display: inline;
              line-height: 1; }
      #header .nav li a {
        font-size: 14px;
        display: block;
        line-height: 3.8; }
      #header .nav li.c_goin:hover .zjhf {
        display: block; }

.show {
  height: 435px;
  border: 1px solid #eee;
  border-radius: 100px 10px 10px 10px;
  overflow: hidden; }

/* 本例子css */
.slideBox {
  border-radius: 10px;
  height: 435px;
  overflow: hidden;
  position: relative; }

.slideBox .hd {
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 61px;
  bottom: 5px;
  z-index: 1; }

.slideBox .hd ul {
  overflow: hidden;
  zoom: 1;
  margin-top: 1px; }

.slideBox .hd ul li {
  width: 85px;
  height: 83px;
  margin-bottom: 1px;
  line-height: 14px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  overflow: hidden; }
  .slideBox .hd ul li span {
    width: 30px;
    display: block;
    margin: auto;
    margin-top: 28px;
    font-size: 12px; }

.slideBox .stop {
  bottom: 0;
  right: 0;
  height: 59px;
  width: 85px;
  background: rgba(0, 0, 0, 0.8);
  line-height: 60px;
  position: absolute;
  color: #fff;
  text-align: center; }

.slideBox .hd ul li.on {
  background: #336BA9;
  color: #fff; }

.slideBox .bd {
  position: relative;
  height: 100%;
  z-index: 0; }

.slideBox .bd li {
  zoom: 1;
  vertical-align: middle; }

.slideBox .bd img {
  width: 100%;
  height: 435px;
  display: block; }

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next {
  position: absolute;
  display: block;
  width: 85px;
  height: 61px;
  filter: alpha(opacity=50);
  opacity: 0.5; }

.slideBox .prev {
  background: rgba(0, 0, 0, 0.8) url(../images/shang.png) center no-repeat;
  top: 0;
  right: 0; }

.slideBox .next {
  background: rgba(0, 0, 0, 0.8) url(../images/xia.png) center no-repeat;
  bottom: 60px;
  right: 0; }

.slideBox .next {
  left: auto; }

.slideBox .prev:hover,
.slideBox .next:hover {
  filter: alpha(opacity=100);
  opacity: 1; }

.slideBox .prevStop {
  display: none; }

.slideBox .nextStop {
  display: none; }

#i_footer .foot_hd {
  border-bottom: 1px solid #eee; }
#i_footer .c_jj_left {
  position: relative; }
  #i_footer .c_jj_left h3 {
    font-size: 14px;
    color: #2663B3; }
  #i_footer .c_jj_left p {
    color: #333; }
  #i_footer .c_jj_left a {
    position: absolute;
    bottom: 10px;
    right: 10px; }

.c_jj {
  height: 160px; }
  .c_jj .c_jj_left {
    width: 380px;
    margin-right: 10px; }

.c_jj_list {
  overflow: hidden;
  zoom: 1; }
  .c_jj_list li {
    float: left;
    margin-right: 10px; }

/*# sourceMappingURL=new.css.map */
